//Main colors
$background-color: #FFFFFF;
$header-color: #D1E6E4;
$footer-color: #7C9996;

//Headers & letter
$header-h1: #997B6D;
$header-h2: #E6D7D1;
$header-h3: #D1E6E4;
$logo: #E6D7D1;
$letter: black;

//Hover
$hover-nav: #7C9996;
