//Main colors
$background-color: #FFFFFF;
$header-color: #D1E6E4;
$footer-color: #7C9996;
$image-video1:#bdad9d;
$image-video2: #97acaa;
$course-even: #99c5c1;
$course-oneven: #ccbfb2;

//Headers & letter
$header-h1: #997B6D;
$header-h2: #E6D7D1;
$header-h3: #D1E6E4;
$logo:#997B6D;
$letter: black;
$letter-footer: #fff;

//Hover
$hover-nav: #5b666548;
$hover-btn: #8be9e1fd;

//Icons
$icon: #fff;
$icon-anim: #997B6D;
$icon-animf: #ff6c52fd;
$social: rgb(3, 62, 139);
$social1: rgb(0, 93, 8);


//Divider 
$span:#7C9996;

//Buttons
$btn-bottom:#97acaa;

//Logo
$anime1:#ce7247;
$anime2:#fadd5b;
$anime3:#4cc0cf;


//Circles
$circle-even: grey;
$circle-oneven: blue;